@import '__general.scss';

html {
    font-size: 18px;
    @include mq(desktop) {
        font-size: 16px;
    }
    @include mq(tablet) {
        font-size: 16px;
    }
    @include mq(smartphone) {
        font-size: 15px;
    }
}

body {
    margin: 0
}

.grid {
    display: grid;
    grid-template-columns: auto 1280px auto;
    grid-template-rows: 2.5rem 25rem repeat(5, auto);

    @include mq(desktop) {
        grid-template-columns: auto 1024px auto;
    }
    
    @include mq(tablet) {
        grid-template-columns: auto minmax(640px, 800px) auto;
        grid-template-rows: 2.5rem 20rem repeat(5, auto);
    }
    
    @include mq(smartphone) {
        grid-template-columns: auto;
        grid-template-rows: 2.5rem 15rem repeat(5, auto);
    }
}

.menu {
    grid-column: span 3;
    background-color: $contrast_color;
    font-family: $title_font;
    font-size: $menu_size;
    color: $dark_color;
    display: grid;
    align-content: center;
    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-items: center;
        padding: 0;
        margin: 0 10%;
    }
}

.banner {
    grid-column: span 3;
    background-image: url("../assets/banner.png");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center center;
    height: 25rem;
    color: $dark_color;
    @include mq(tablet) {
        height: 20rem;
    }
    @include mq(smartphone) {
        height: 15rem;
    }
    &__main-title {
        @include main_title;
        margin: 0
    }
    &__subtitle {
        @include title;
        margin: 0;
        text-align: center;
    }
}

.about, .projects, .contact, .instagram {
    grid-column: 2;
    display: grid;
    margin: $tb_margin $rl_margin;
}

.about {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, auto);
    @include mq(tablet) {
        grid-template-columns: 100%;
    }

    &__text {
        @include plain_text;
        grid-column: 1;
    }
    &__title {
        @include title;
        grid-row: 1;
        border-bottom: 4px solid $contrast_color;
        padding-left: 10px
    }
    &__contact {
        grid-row: 5;
        justify-self: center;
        width: 15rem;
        height: 3rem;
        background-color: $contrast_color;
        font-family: $title_font;
        font-size: $menu_size;
        color: $dark_color;
        border:none;
        margin: 1rem 0;
        padding: 5px 20px;
        border-radius: 5px;
        &:hover {
            background-color: $dark_color;
            color: $basic_blue;
        }

        @include mq(tablet) {
            margin-bottom: 0
        }
    }
    &__img-box {
        grid-column: 2;
        grid-row: 1/6;
        display: grid;
        place-items: center center;
        position: relative;

        @include mq(tablet) {
            margin: 1rem 0;
            grid-column:1;
            grid-row: 2;
        };
    }    
    &__img {
        width: 14rem;
        z-index: 3;
        padding-top: 15px;
        padding-right: 10px;

        @include mq(smartphone) {
            width: 10rem;
        }
    }

    &__symbol-img {
        position: absolute;
    }

    &__symbol-img--0 {
        width: 18rem;
        top:0;
        right: 0;

        @include mq(tablet) {
            right: 5rem;
            top: -1rem
        };

        @include mq(smartphone) {
            width: 16rem;
            right: -1rem;
        }
    }

    &__symbol-img--1 {
        width: 15rem;
        bottom:0;
        left: 0;

        @include mq(tablet) {
            left: 5rem;
            bottom: -1rem;
        };

        @include mq(smartphone) {
            width: 13rem;
            left: -1rem;
        }
    }
}

.projects {
    grid-template-rows: repeat(2, auto);
    &__text-box {
        padding: 0 0 1rem 0;
    }
    &__title {
        @include title;
        @include mq(smartphone) {
            border-bottom: 4px solid $contrast_color;
        }
    }
    &__text {
        @include plain_text
    }
    &__box {
        display: grid;
        grid-template-columns: repeat(3, 28%);
        grid-gap: 8%;
        @include mq(smartphone) {
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
            grid-gap: 1rem
        }
    }
    &__img-box {
        margin: 0;
        @include mq(smartphone) {
            display: grid;
            grid-template-rows: auto auto;
        }
        .projects__img {
            width: 100%;
            @include mq(smartphone) {
                width: 70%;
                margin: 0 auto
            }
        }
        .projects__figcaption {
            @include plain_text;
            display: grid;
            align-content:center;
            padding: 1rem 0;
        }
    }
}

.contact {
    grid-template-columns: repeat(2, 50%);
    @include mq(smartphone) {
        grid-template-columns: 100%;
    }
    &__img-box {
        display: inline-block;
        margin: 0;
        padding: 0;
        .contact__img {
            width: 100%;
        }
        @include mq(smartphone) {
            display: none;
        }
    }
    &__text {
        display: grid;
        grid-template-rows: 4.3rem auto;
        .contact__title {
            text-align: right;
            @include title;
            border-bottom: 4px solid $contrast_color;
            padding-right: 10px;
        }
        .contact__form {
            grid-row: 2;
            display: grid;
            grid-template-rows: 3.5rem auto 5rem;
            grid-template-columns: auto;
            justify-items: center;
            margin: 2rem 5rem;
            @include mq(tablet) {
                margin: 0 2rem;
            }
            @include mq(smartphone) {
                margin: 0 1.5rem;
            }
        }

        .contact__input {
            width: 100%;
            margin: 1rem 0;
            border-radius: 5px;
            border: solid 1px $dark_color;
            padding: 5px 10px;
        }
        .contact__form-mail {
            height: 2rem;;
        }
        .contact__form-message {
            height: auto;
            @include mq(smartphone) {
                height: 10rem;
            }
        }
        .contact__form-submit-btn {
            width: calc(100% + 20px);
            justify-self: center;
            height: 3rem;
            background-color: $contrast_color;
            font-family: $title_font;
            font-size: $menu_size;
            color: $dark_color;
            border: none;
            // margin: 1rem 0;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                background-color: $dark_color;
                color: $basic_blue;
            }
        }
    }
}

.instagram {
    grid-template-rows: repeat(2, auto);

    &__title {
        @include title;
        .instagram__color-title {
            color: $contrast_color
        }
    }
    &__img-box {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-gap: 10px;
        @include mq(tablet) {
            grid-template-columns: repeat(2, 50%)
        }
    }
    &__img {
        width: 100%;
        @include mq(tablet) {
            @for $img from 5 through 8 {
                &:nth-child(#{$img}) {
                    display: none;
                }
            }
        }
    }
}


.footer {
    grid-column: span 3;
    margin-top: $tb_margin;
    height: 100px;
    background-color: $basic_blue;
}

