@import '__general.scss';

body {
    margin: 0
}

.grid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 2.5rem 400px repeat(5, auto);
}

.menu {
    grid-column: span 3;
    background-color: $contrast_color;
    font-family: $title_font;
    font-size: $menu_size;
    color: $dark_color;
    display: grid;
    align-content: center;
    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-items: center;
        padding: 0;
        margin: 0 12%;
    }
}

.banner {
    grid-column: span 3;
    background-image: url("../assets/banner.png");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center center;
    height: 400px;
    color: $dark_color;
    &__main-title {
        @include main_title;
        margin: 0
    }
    &__subtitle {
        @include title;
        margin: 0;
        text-align: center;
    }
}

.about {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 2rem 0;
    &__text-box {
        grid-column: 1;
        display: grid;
        grid-template-rows: repeat(3, auto);
    }
    &__text {
        @include plain_text
    }
    &__title {
        @include title;
        border-bottom: 4px solid $contrast_color;
        padding-left: 10px
    }
    &__contact {
        justify-self: center;
        width: 50%;
        height: 3rem;
        background-color: $contrast_color;
        font-family: $title_font;
        font-size: $menu_size;
        color: $dark_color;
        border:none;
        margin: 5% 0;
        padding: 5px 20px;
        border-radius: 5px;
        &:hover {
            background-color: $dark_color;
            color: $basic_blue;
        }
    }
    &__img-box {
        grid-column: 2;
        display: grid;
        place-items: center center;
        position: relative
    }    
    &__img {
        width: 35%;
        z-index: 3;
        padding-top: 15px;
        padding-right: 10px;
    }

    &__symbol-img {
        position: absolute;
    }

    &__symbol-img--0 {
        width: 50%;
        top:0;
        right: 0;
    }

    &__symbol-img--1 {
        width: 40%;
        bottom:0;
        left: 0;
    }
}

.projects {
    margin: 2rem 0;
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(2, auto);
    &__text-box {
        padding: 0 0 1rem 0;
    }
    &__title {
        @include title
    }
    &__text {
        @include plain_text
    }
    &__box {
        display: grid;
        grid-template-columns: repeat(3, 28%);
        grid-gap: 8%
    }
    &__img-box {
        margin: 0;
        .projects__img {
            width: 100%;
        }
        .projects__figcaption {
            @include plain_text;
            display: grid;
            align-content:center;
            padding: 1rem 0;
        }
    }
}

.contact {
    margin: 2rem 0;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    &__img-box {
        display: inline-block;
        margin: 0;
        padding: 0;
        .contact__img {
            width: 100%;
        }
    }
    &__text {
        display: grid;
        grid-template-rows: 4.3rem 10% auto 10%;
        .contact__title {
            text-align: right;
            @include title;
            border-bottom: 4px solid $contrast_color;
            padding-right: 10px;
        }
        .contact__form {
            grid-row: 3;
            display: grid;
            grid-template-rows: 3.5rem auto 5rem;
            grid-template-columns: auto;
            justify-items: center;
            margin: 0 20%;
        }

        .contact__input {
            width: 100%;
            margin: 1rem 0;
            border-radius: 5px;
            border: solid 1px $dark_color;
            padding: 5px 10px;
        }
        .contact__form-mail {
            height: 2rem;;
        }
        .contact__form-message {
            height: auto;
        }
        .contact__form-submit-btn {
            width: calc(100% + 20px);
            justify-self: center;
            height: 3rem;
            background-color: $contrast_color;
            font-family: $title_font;
            font-size: $menu_size;
            color: $dark_color;
            border: none;
            // margin: 1rem 0;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                background-color: $dark_color;
                color: $basic_blue;
            }
        }
    }
}

.instagram {
    margin: 2rem 0;
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(2, auto);
    &__title {
        @include title;
        .instagram__color-title {
            color: $contrast_color
        }
    }
    &__img-box {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-gap: 10px
    }
    &__img {
        width: 100%
    }
}


.footer {
    grid-column: span 3;
    margin-top: 2rem;
    height: 100px;
    background-color: $basic_blue;
}